.table {
  border: 1px solid #eee;
}

.tableRow {
  background-color: #eee;
}

.tableData {
  width: 200px;
  height: 100px;
}

.myComp {
  background-color: rgb(230, 35, 35);
  height: inherit;
  align-items: center;
  text-align: center;
  line-height: 85px;
}
